@media screen and (min-width: 769px) and (max-width: 1279px) {
    .items {
        width: 720px;
        height: 590px;
    }

    .item {
        width: 218px;
        height: 263px;
    }

    .item img {
        width: 218px;
    }
}